<footer style="position:relative; margin-top: 20em">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <p>Copyright &copy; 2016 Choi Woonsik- by <a href="http://bootstraptaste.com">Bootstrap Themes</a></p>
            </div>

        </div>
    </div>
</footer>

<!-- Core JavaScript Files -->
<script src="/javascripts/jquery-1.12.4.min.js"></script>
<script src="/bootstrap/js/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/bootstrap/js/jquery.easing.min.js"></script>
<script src="/bootstrap/js/classie.js"></script>
<script src="/bootstrap/js/gnmenu.js"></script>
<script src="/bootstrap/js/jquery.scrollTo.js"></script>
<script src="/bootstrap/js/nivo-lightbox.min.js"></script>
<script src="/bootstrap/js/stellar.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/bootstrap/js/custom.js"></script>

</body>
</html>